{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block title %}
Post
{% endblock title %}

{% block content %}
           <td><a href=/accounts/login> Вход </a></td>
           <td><a href=/accounts/logout> Выход </a></td>
<h1>Все посты</h1>

   <hr>
   {% if poste %}
       <table>
           <tr>
               <td>Автор</td>
               <td>Название</td>
               <td>Дата</td>
               <td>Статья</td>
               <td>Ссылки</td>
           </tr>
           {% for new in poste %}
           <tr>
               <td>{{ new.author }}</td>
               <td>{{ new.title }}</td>
               <td>{{ new.dateCreation|date:'M d Y' }}</td>
               <td><div>{{ new.text|censor|truncatewords:20 }}</div></td>
               <td><a href="{{ new.id }}" > Подробнее </a></td>
               <td>
                   {% for category in new.postCategory.all %}
                              <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                   {% endfor %}
               </td>
               <td>
                   {% if perms.news.change_post %}
                   <a href="{% url 'post_update' pk=new.id %}">Изменить</a>
                   {% endif %}
                   {% if perms.news.delete_post %}
                   <a href="{% url 'post_delete' new.id %}">Удалить</a>
                   {% endif %}
               </td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}


   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}



{% endblock content %}


